// 主要参数
$YaHeiBlodFont: Microsoft YaHei Bold, Microsoft YaHei Bold-Blod;

// 不同主题的样式文件
$themes: (
  white: (
    main-color: #13488e, // 主题颜色
    menus-bg: #e2e5f0, // 菜单背景色
    menu-active-bg: #13488e, // 菜单激活色
    main-container-bg: #f5f5f5, // 空白背景色
    main-border: rgb(235, 238, 245), // 边框颜色
    login-bgc:#2d3a4b, // 登录背景颜色
    head-btn-bg: #2f5bac, // 头部颜色
    head-line: #2953a0,
    color-white: #fff,
    color-black: #000,
    table-row-1: #f5f5f5,
    table-row-2: #fafafa,
    table-head-bg: #f6f6f6
  ),
  black: (
    main-color: black,
    menus-bg: black,
    menu-active-bg: gray,
    main-container-bg: black,
    main-border: rgb(235, 238, 245),
    login-bgc:black,
    head-btn-bg: black,
    head-line: black,
    color-white: black,
    color-black: #000,
    table-row-1: black,
    table-row-2: black,
    table-head-bg: black
  )
)