.role-manage {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  background-color: $contentBg;
  padding: $margin-size;
  .list-container {
    flex: 0 0 420px;
    margin-right: 10px;
    background-color: white;
  }
  .menu-tree-container {
    flex: 1;
    background-color: white;
  }

  .list-container-mobile {
    flex: 1;
    margin-right: 0px;
  }
  .menu-tree-container-mobile {
    display: none;
  }
}
